/* ==========================================================================
   Base
   ========================================================================== */

// Variables
text-color = #59514f
bg-color = #d1c6b8
breakpoint = 'min-width: 40em' // 640px

html
    font-family Courier, Courier New, monospace
    font-size 16px
    line-height 1.5
    color text-color
    background-color rgb(234,234,234)

body
    margin 0 auto
    padding 0 5%
    max-width 900px

header
    position relative
    margin 1em 0


/* ==========================================================================
   Nav
   ========================================================================== */

[href^="#nav"]
    display inline-block
    color text-color
    background-color bg-color
    text-decoration none
    padding 0 .3rem
    &:focus, &:hover
        background-color lighten(bg-color, 20%)
    &:before
        icon "☰"
        font-size 3rem
        line-height 1
    /* Breakpoint 1 --------------------------------------------------------- */
    @media only screen and ({breakpoint})
        display none

.Nav
    font-size 1.25rem
    display none
    position absolute
    top 100%
    left 4rem
    width 80%
    margin-top -3rem
    z-index 200
    opacity 1
    transition opacity .3s,
        transform .3s
    &.is-hidden
        opacity 0
        transform scale(0.8, 0.8)
    &[aria-hidden]
        display block
    &[aria-hidden="true"]
        display none

    ul
        background-color bg-color
        list-style none
        margin 0
        padding 0

    li
        position relative

    a
        display block
        text-decoration none
        padding .5em 1em
        color text-color
        &:focus, &:hover
            background-color alpha(white, .2)

    [aria-haspopup]
        position relative
        padding-right 3rem
        &:after
            icon "▼"
            font-size 1rem
            line-height 1
            position absolute
            right 1rem
            bottom 50%
            transform translateY(50%)

    a + ul
        background-color alpha(black, .05)
        &[aria-hidden="true"]
            display none

    /* Breakpoint 1 --------------------------------------------------------- */
    @media only screen and ({breakpoint})
        position static
        width auto
        margin 0

        > ul > li
            display inline-block

        a + ul
            background-color bg-color
            white-space nowrap
            position absolute
            top 100%
            left 0
            z-index 1
            opacity 1
            transition opacity .2s,
                transform .2s
            &[aria-hidden="true"]
                display block
                visuallyhidden(true)
            &.is-hidden
                opacity 0
                transform translateY(21px)

            [aria-haspopup]:after
                icon "►"

            a + ul
                top 0
                left 100%
                &.is-hidden
                    transform translate(21px, 0)

            .no-js &
                display none
